# Configuration File
# @author: Sk Khurshid Alam

[settings]
project_name=TABLET SHIPMENT REPORT SCRAPER
project_description=It's a web scraping tool which extracts the customer contact details of the shipment report from Tablet website.
version=1.1.2
site_domain=put.site.domain.here
login_url=/put/login/url/here
login_title=put login title here
login_redirect_title=put login redirect title here
customer_care_title=put customer care title here
site_url=/put/site/url/here
site_title=put site title here
health_check_url=https://www.google.com
health_check_title=Google
